 /* Adicione estilos CSS personalizados aqui */
 .logo {
    font-size: 50px; /* Tamanho do título */
    text-align: center;
    margin-left:12em;
}

.footer-info {
    font-size: 14px; /* Tamanho do texto do rodapé */
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.image-container a {
    text-align: center;
    width: 50%; /* Para ocupar metade da largura */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container a:hover::before {
    opacity: 1; /* Tornar o quadrado branco visível ao passar o mouse */
}

.image-container img {
    height: 150px;
    width: 550px; /* Largura padrão das imagens */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
}

.image-container img:hover {
    transform: scale(1.05);
}

.image-container .criar-dieta img {
    /* Estilos específicos para a imagem de Criar Dieta */
    border: 2px solid #2196F3;
    margin-right: 2em;
}
.image-container .criar-dieta p {
    /* Estilos específicos para o texto "Criar Dieta" */
    margin: 0; /* Remover margens padrão */
    font-size: 18px; /* Tamanho do texto */
    color: #4a5568; /* Cor do texto */
}

.image-container .visualizar-dietas img {
    /* Estilos específicos para a imagem de Visualizar Dietas */
    border: 2px solid #FF5722;
    margin-left: 2em;
}
.image-container .visualizar-dietas p {
    /* Estilos específicos para o texto "Visualizar Dietas" */
    margin: 0; /* Remover margens padrão */
    font-size: 18px; /* Tamanho do texto */
    color: #4a5568; /* Cor do texto */
}

body {
    background-image: url('imagens/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Garante que o fundo cobrirá toda a altura da página */
    margin: 0; /* Remove margens padrão do corpo */
    padding: 0; /* Remove preenchimento padrão do corpo */
    display: flex;
    flex-direction: column;
}